
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --border-color:  #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  background-image: url(../images/cover-image-dark.png);
  --rec-display: inline;
}



@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .theme_auto .rec__text {
    display: var(--rec-display, inline);
  }

  .theme_auto .rec__text::after {
    display: var(--rec-display, inline);
  }
}