
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --border-color:  #353430;
  --background-image: url(../images/cover-image-light.png);
  --rec-display: none;
  --background-color: #fff1f7;
  --border-color-transparent: rgba(53, 52, 48, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;  
    --border-color:  #353430;
    --border-color-transparent: rgba(53, 52, 48, 0.5);
    }

  
    .page {
    --rec-display: none;
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
  }

    

}
